#container{
    width: 95vw;
    border: 2px solid purple;
    margin: auto;
    background-color: #041334;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#navbar{
    width: 100%;
    height: 20%;
    background-color:#0A1939;
}

#mininavbar{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content:space-evenly;
}

.nav{
    display: flex;
    align-items: center;  
    color: white;
}

span{
    margin: 0px 10px;
    color: white;
}

#headtext{
    width: 60%;
    margin: 2rem 3rem 3rem 14rem;
}
.green{
    color: #14FF00;
    font-weight: 700;
    margin: 0px;
}
.red{
    color: #FF0000;
    font-weight: 700;
    margin: 0px;
}

.firstline{
    color: white;
    font-size: 24px;
    font-family:'Poppins';
    line-height: 36px;
    font-weight: 500;
}
.seconline{
    color: white;
    font-size: 20px;
    font-family:'Poppins';
    line-height: 30px;
    font-weight: 500;
}
#chart{
    width: 100%;
    display: flex;
    justify-content: center;
}

#button{
    margin: auto;
    width: 10%;
}
#margin{
    margin: 2rem;
}
button{
    background-color: #3DD8EE;
    color: white;
    font-size: 24px;
    font-family:'Poppins';
    line-height: 36px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 60px;
}
#map{
    background-color: #00092A;
    padding: 2% 4%;
    
}
#map2{
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}
#heading{
    color: white;
    font-size: 24px;
    font-family:'Poppins';
    line-height: 36px;
    font-weight: 500;
    width: 458px;
    height: 108px;

}
#head2{
    color: white;
}
.head3{
    display: flex;
    margin: 2%;
    display: flex;
    justify-content: space-between;
}
#reasons{
    width: 70%;
    margin: auto;
    display: flex;
}
#investreason{
    color: white;
    font-size: 30px;
    font-family:'Poppins';
    line-height: 45px;
    font-weight: 600;
    width: 100%;
    height: 20%;
}
.investtips{
    display: flex;
    margin: 1%;
}
#reasonhead{
    width: 40%;
    margin-top: 3%;
    margin-left: 3%;
}
.buying{
    color: white;
    font-size: 20px;
    font-family:'Poppins';
    line-height: 30px;
    font-weight: 500; 
}
#image{
    display: flex;
    justify-content: center;
}
#footer{
    background-color: #00092A;
    display: flex;
    justify-content: space-around;
    padding: 2%;
    width: 95%;
}
.footerhead{
    color: white;
    font-size: 24px;
    font-family:'Poppins';
    line-height: 36px;
    font-weight: 400; 
}
a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family:'Poppins';
    line-height: 24px;
    font-weight: 400; 
}
#footerlast{
    display: flex;
    justify-content:space-around;
    width: 40%;
}
td{
    color: white;
    font-size: 20px;
    font-family:'Poppins';
    line-height: 30px;
    font-weight: 600; 
}
table{
    border-spacing: 4rem 0rem;
}
.coinname{
    color: white;
    font-size: 20px;
    font-family:'Poppins';
    line-height: 24px;
    font-weight: 700;  
}
.shortname{
    color: #858585;
    font-size: 16px;
    font-family:'Poppins';
    line-height: 30px;
    font-weight: 400; 
}
